@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
  * Cormorant Garamond
  */
  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-Italic.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-Bold.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-Light.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-Medium.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-Regular.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /**
  * Inter
  */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter.var.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
  }

}

html,
body {
  @apply selection:bg-orange-500/10 m-0 bg-[#121212] selection:text-orange-300
}

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
